@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    background: linear-gradient(to bottom, #07233a, #84bce9);
    gap: 40px
}

.container {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 300px;
    min-width: 270px;
    min-height: fit-content;
    background-color: white;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}

.address{
    color: white;
    font-size: 40px;
    font-family: inherit;
}

.container p {
    font-size: 25px;
}

.btn {
    background-color: transparent;
    font-size: 30px;
    border: 0;
    cursor: pointer;
    margin-top: 15px;
    padding: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn:hover {
    box-shadow: 0 0 45px #6CB4EE;
}